[submodule "tests/scala_scale_archive"]
	path = tests/scala_scale_archive
	url = https://github.com/narenratan/scala_scale_archive.git
[submodule "libs/MTS-ESP"]
	path = libs/MTS-ESP
	url = https://github.com/ODDSound/MTS-ESP.git
[submodule "libs/lv2"]
	path = libs/lv2
	url = https://github.com/lv2/lv2.git
[submodule "libs/doctest"]
	path = libs/doctest
	url = https://github.com/doctest/doctest.git
[submodule "libs/robtk"]
	path = libs/robtk
	url = https://github.com/x42/robtk.git
[submodule "libs/clap"]
	path = libs/clap
	url = https://github.com/free-audio/clap.git
[submodule "libs/clap-wrapper"]
	path = libs/clap-wrapper
	url = https://github.com/free-audio/clap-wrapper.git
[submodule "libs/readerwriterqueue"]
	path = libs/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
