[submodule "tests/scala_scale_archive"]
	path = tests/scala_scale_archive
	url = https://github.com/narenratan/scala_scale_archive.git
[submodule "libs/MTS-ESP"]
	path = libs/MTS-ESP
	url = https://github.com/ODDSound/MTS-ESP.git
